* {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-container {
  display: none;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.m-l-1 {
  margin-left: 5px;
}

#logo {
  width: 33px;
}

.icon {
  width: 16px;
  height: 16px;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 1.35rem;
  background-color: #24292e;
}

.top-nav,
.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-mobile {
  display: none;
  color: #fff;
}

.bottom-nav {
  width: -webkit-fill-available;
}

.header i {
  font-size: 22px;
  color: #cbcccf;
}

.nav-item {
  color: #f2f2f2;
  text-align: center;
  padding: 0.75rem 0.5rem;
  text-decoration: none;
  font-weight: 500;
}

.nav-item:hover {
  color: hsla(0, 0%, 100%, 0.7);
  text-decoration: none;
}

.nav-links {
  width: 100%;
  display: flex;
}

.hamburger-icon {
  display: none;
}

.left-nav {
  display: flex;
  align-items: center;
}

/* search bar */
.search-bar .search {
  width: 100%;
  position: relative;
  display: flex;
}

.search-bar .searchTerm {
  min-width: 230px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #444d56;
  border-right: none;
  padding: 0.3rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #fff;
  background-color: transparent;
}

.search-bar .searchTerm:focus {
  background-color: transparent;
}

.search-bar .searchButton {
  width: 40px;
  padding-top: 0.28rem;
  border: 1px solid #444d56;
  border-left: none;
  background: transparent;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.notifications a {
  position: relative;
  display: flex;
}

.notifications a span {
  position: absolute;
  right: 1px;
  top: -4px;
  background-color: #0366d6;
  z-index: 2;
  width: 9px;
  height: 9px;
  border-radius: 100%;
}

.not-1 {
  display: none;
}

.not-2 {
  margin-left: auto;
}

#add-dropdown,
#profile-dropdown {
  position: relative;
  padding: 0 0.8rem;
  cursor: pointer;
}

#add-dropdown i {
  margin-left: -5px;
}

.dropdown-menu {
  position: absolute;
  z-index: 100;
  right: 15px;
  bottom: 0;
  display: none;
  text-align: left;
  font-weight: 400;
  -webkit-transform: translate(0, calc(100% + 10px));
  transform: translate(0, calc(100% + 10px));
  background-color: #fff;
  color: #24292e;
  border: 1px solid #e1e4e8;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 160px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 20px rgba(19, 19, 19, 0.075);
  box-shadow: 0 0 20px rgba(19, 19, 19, 0.075);
}

#dropdown-menu2 {
  width: 175px;
}

.dropdown-container {
  position: relative;
}

.dropdown-container::before {
  content: "";
  position: absolute;
  left: auto;
  right: 8.6px;
  top: -13px;
  border: 30px solid;
  border-width: 0 10px 9px 10px;
  border-color: #fff transparent;
}

.dropdown-section {
  border-bottom: 1px solid #e1e4e8;
  padding: 0 0 7px 0;
}

.dropdown-menu a,
.dropdown-menu p {
  padding: 4px 16px;
  display: block;
  color: #24292e;
}

.dropdown-menu a:hover {
  background-color: #0366d6;
  color: #fff;
}
.sticky-top {
  padding-top: 0;
  padding-bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  padding-top: 24px;
}

.sticky-top2 {
  display: none;
}

#hidden-span {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  border-bottom: 1px solid #e1e4e8;
  padding: 0 1.5rem;
}

.left-col {
  width: 25%;
}

.right-col {
  width: 75%;
  padding: 0 1rem;
}

.underline-nav {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-between;
}

.underline-nav nav {
  display: flex;
}

.underline-nav-item {
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom-width: 2px;
  border-style: solid;
  border-bottom-color: transparent;
}

.underline-nav-item:hover {
  border-bottom-color: #d1d5da;
  outline-offset: -1px;
  transition-timing-function: ease-out;
  transition-duration: 0.12s;
}

.underline-nav-item .icon {
  margin-right: 6px;
}

.active-tab,
.active-tab:hover {
  font-weight: 600;
  border-bottom-color: #f9826c;
}

#repo-no {
  display: inline-block;
  min-width: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  background-color: rgba(209, 213, 218, 0.5);
  padding: 0px 6px;
  border: 1px solid transparent;
  border-radius: 2em;
  margin-left: 6px;
}

.profile-info {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -32px;
}

#profile-dropdown-btn,
#add-dropdown-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  color: #fff;
}

.user-status {
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 70%;
  left: 80%;
  margin-bottom: 39px;
  margin-top: 0;
  height: 38px;
  max-width: 38px;
  border: 1px solid #e1e4e8;
  border-radius: 100vh;
  background: white;
  overflow: hidden;
  z-index: 1;
}

.status-emoji {
  width: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.set-status {
  opacity: 0;
  white-space: nowrap;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: unset;
  font-size: 12px;
}

.user-status-container {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #e1e4e8;
  fill: red;
  padding: 4px 10px;
  margin: 8px;
  font-size: 12px;
}

.user-status-container:nth-child(2) {
  display: none;
}

.user-status:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(77, 77, 77, 0.103);
  max-width: unset;
}

.user-status:hover .status-emoji svg path,
.user-status:hover .set-status,
.user-status-container:hover,
.user-status-container:hover .status-emoji svg path {
  color: #0366d6;
  fill: #0366d6;
}

.user-status:hover .set-status {
  opacity: 1;
  margin-right: 18px;
}

.avatar-container,
.img-container {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #e1e4e8;
  background-image: url("../images/profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.img-container {
  width: 275px;
  height: 275px;
}

.name {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.fullname {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.25;
}

.username {
  font-size: 20px;
  font-weight: 300;
  color: #586069;
  line-height: 24px;
}

.repository {
  border-top: 1px solid #e1e4e8;
  border-bottom: 1px solid #e1e4e8;
  padding: 1.3rem 0;
  font-size: 12px;
}

.filter {
  padding: 1rem 0;
}

.repo-name {
  color: #0366d6;
  font-weight: 600;
  font-size: 20px;
}

.repo-name:hover {
  text-decoration: underline;
}

.filter input {
  width: 100%;
  padding: 5px 12px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
  border: 1px solid #e1e4e8;
  box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
}

.filter input:focus {
  border-color: #0366d6;
  outline: none;
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

.btn-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  padding: 5px 12px;
  border-radius: 6px;
  color: #24292e;
  font-size: 12px;
  cursor: pointer;
}

.btn-star svg {
  height: 16px;
  margin-right: 4px;
}

.btn-star:hover {
  background-color: #f3f4f6;
  border-color: rgba(27, 31, 35, 0.15);
}

.text-gray {
  color: #586069;
}

.repo-description {
  font-size: 14px;
  color: #586069;
}

.blue-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0 1rem;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  cursor: pointer;
  color: #586069;
}

.blue-icon svg {
  width: 16px;
  margin: 0 5px;
  fill: #586069;
}

.blue-icon:hover,
.blue-icon:hover svg {
  color: #0366d6;
  fill: #0366d6;
}

.color-tag {
  margin-right: 3px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.timestamp {
  margin-left: 1rem;
}

@media only screen and (max-width: 896px) {
  .hamburger-icon {
    display: block;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1.2rem;
    background-color: #24292e;
  }

  .show-mobile {
    display: flex;
  }

  .hide-mobile {
    display: none;
  }

  .top-nav {
    width: -webkit-fill-available;
  }

  .bottom-nav {
    display: none;
  }

  .bottom-nav.responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    min-width: 100%;
    padding: 0.5rem 0;
    border-bottom: 1px solid #606366;
    text-align: left;
  }

  .nav-links {
    flex-direction: column;
  }

  .home-link,
  .hamburger-icon {
    min-width: auto;
    border-bottom: none;
  }

  .not-1 {
    display: block;
  }

  .not-2 {
    display: none;
  }

  .sign-out {
    display: flex;
    align-items: center;
  }

  .dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    z-index: 32;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
  }

  .user-status {
    display: none;
  }
  .user-status-container:nth-child(2) {
    display: flex;
  }

  .sticky-top1 {
    display: none;
  }

  .sticky-top2 {
    display: block;
  }

  .row {
    flex-direction: column;
    padding: 0;
  }

  .left-col,
  .right-col {
    width: 100%;
    padding: 0 1rem;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .profile-info {
    margin-top: 0;
    margin-right: 16px;
  }

  .img-container {
    width: 110px;
    height: 110px;
  }
}
